<!DOCTYPE html>
<!--[if lt IE 7]>   <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>      <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>      <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>   <html class="no-js"> <!--[endif]-->

<html>
    <body background="C:\Users\luard\OneDrive\Desktop\Ct226WebsiteProject\stationaries\templates\images\BackgroundPhoto.jpg" style="background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;" >

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Sign Up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

    <body>
    <center>
      <table>
       
        {% for message in messages%}
            <div class="alert alert- {{message.tags}} alert-dismissible fade show" role="alert">
                <strong> Message:</strong> {{ messages }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
      

         <h3>Sign Up</h3>.
        <form action="/signup" method="post">
          {% csrf_token %}
          <tr>
            <td><label for=""> Username:</label></td>
            <td><input type="text" id="username" name= "username" placeholder="Create a username" Required></td>
          </tr>
          
          <tr>
            <td><label for=""> First Name:</label></td>
            <td><input type="text" id="fname" name= "fname" placeholder="Enter Your First Name" Required></td>
          </tr>
          
          <tr>
            <td><label for=""> Last Name:</label></td>
            <td><input type="text"id="lname" name= "lname" placeholder="Enter Your Last Name" Required></td>
          </tr>
          
          <tr>
            <td><label for=""> Email Address:</label></td>
            <td><input type="email" id="email" name= "email" placeholder="Enter Your Email Address" Required></td>
          </tr>
          
          <tr>
            <td><label for=""> Password:</label></td>
            <td><input type="password" id="pass1" name= "pass1" placeholder="Create a Password" Required></td>
          </tr>
          <br>
          <tr>
            <td><label for=""> Confirm your Password:</label></td>
            <td><input type="password" id="pass2" name= "pass2" placeholder="Confirm Your Password" Required></td>
          </tr>
          
          <tr>
            <td><button type="submit"><a href="/login">SignUp</a></button></td>
          </tr>

        {% if user.is_save %}
        <h4>youre Account was successfully Created.</h4>
        <h3>Please log in</h3>
        <h><button type="submit"><a href="login.html">Login</a></button></h>
        {%endif%}
      
      </form>
      </table>  
      <script scr=""async defer></script>
    </center>   
    </body>
  </body> 
</html>